@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --text-primary-color: #fff;
  --background-color: #0b343a;
}

body {
  font-family: 'ROBOTO', sans-serif;
  background-color: var(--background-color);
}


.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.headerImg {
  position: relative;
  top: 0%;
  width: 100%;
  height: 350px;
  background-size: center center;
  object-fit: center center;
  margin: 0 auto;
  opacity: 0.8;
}


.imgName {
  background-image: url('./assets/img/img2.png');
  position: absolute;
  width: 35%;
  height: 372px;
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
  left: 40%;
  top: 10%;
}

.headerForm {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: -2em;
  margin-bottom: 4em;
}



.headerForm input::placeholder {
  color: #fff;
  text-align: center;
}

.btn__search {
  position: relative;
  display: block;
  flex-direction: row;
  border: 2px solid #0f0;
  font-size: 2.4rem;
  width: 6rem;
  height: 5rem;
  margin-left: -1em;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color:  white;
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: .3s;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 0.565);
  cursor: pointer;
}


.btn__search {
  -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
  transition: .3s;
  transition-delay: 0s;
}


.btn__search:hover {
  transition-delay: .7s;
  color: #000;
  box-shadow: 0 0 10px #0f0,
  0 0 20px #0f0, 
  0 0 30px #0f0, 
  0 0 40px #0f0, 
  0 0 50px #0f0; 
}

.btn__search span {
  position: relative;
  z-index: 1000;
}


.btn__search::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: 5px -8px 0 #0f0,
              5px 8px 0 #0f0;
  transition: width 0.3s, left 0.3s, height 0.3s, box-shadow -0.3s;
  transition-delay: .5s,0.3s,0s,0s;
}

.btn__search:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #0f0,
  5px 0 0 #0f0;
  transition-delay: 0s,0.3s,.5s,.5s;
}

.btn__search::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #0f0;
  box-shadow: -5px -8px 0 #0f0,
              -5px 8px 0 #0f0;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow -0.5s;
  transition-delay: .5s,0.5s,0s,0s;
}

.btn__search:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #0f0,
  -5px 0 0 #0f0;
  transition-delay: 0s,0.5s,.5s,.5s;
}

.btn__change {
  filter: hue-rotate(240deg);
  color: #0f0;
  background-color: #0b3a15;
}


.locationInfo {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #062226;
  color: var(--text-primary-color);
  width: 80%;
  margin: 0 auto;
  padding: .5rem .5rem;
  box-shadow: 2px 3px 10px #0f0;
  border-radius: 2px;
  opacity: 0.8;
}

.locationInfo__name {
  grid-column: span 4;
  grid-row: span 1;
  text-align: center;
  align-self: center;
  color: #fff;
  font-weight: 900;
  font-size: 2.3rem;
}

.locationInfo__list {
  grid-column: span 4;
  grid-row: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.locationInfo__list-item {
  text-align: center;
  color:rgb(0, 255, 0);
}

.locationInfo__list-item span {
  margin-bottom: .2rem;
  display: block;
  text-align: center;
  color: white;
}

.residents-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1480px;
}

.card {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 10px white;
  background-color: #062226ab;
  border-radius: 12px;
}

.cardBG {
  transition:  box-shadow .5s ease;
  backface-visibility: visible;
}

.cardBR {
  transition:  box-shadow .5s ease;
  backface-visibility: visible;
}
.cardBW {
  transition:  box-shadow .5s ease;
  backface-visibility: visible;
}

.cardBR:hover {
  box-shadow: 1px 2px 20px red;
  animation: 1s rebound 1;
}


.cardBG:hover {
  box-shadow: 1px 2px 20px #0f0;
  animation: 1s rebound 1
}
.cardBW:hover {
  box-shadow: 1px 2px 20px #fff;
  animation: 1s rebound 1
}

@keyframes rebound {
  20%, 50%, 80% {
    transform: translateY(0px);
  } 40% {
    transform: translateY(-45px);
  } 60% {
    transform: translateY(-25px);
  }
}

.card__image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  opacity: 0.7;
}

.card__header {
  position: relative;
}

.card__status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  top: 5%;
  background-color: #062226;
  width: 6rem;
  height: 1.7rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.circle  {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}



.card__section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: .2rem;
}

.card__section-name {
  color: #fff;
  margin-left: .5rem;
  margin-top: .5rem;
  text-align: center;
}

.card__line {
  margin-top: .7em;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #0f0;
  overflow: hidden;
}


.Alive {
  background-color: #0f0;
}

.Dead {
  background-color: red;
}

.card__section-list {
  padding: 10px;
}

.card__section-list--item {
  margin-bottom: .4rem;
}
.card__section-list--span1 {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #7E7E7E;
  text-transform: uppercase;
}

.card__section-list--span2 {
  font-weight: 700;
  font-size: 18px;
  color: rgb(0, 255, 0);

}

.list__Alive {
  color: #0f0;
}

.list__Dead {
  color: red;
}

.list__Unknown {
  color: #fff;
}

.errorFetch {
  color: white;
  text-align: center;
  font-size: 3em;
}


.rickImg {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    object-fit: cover;
    left: 3%;
    top: -25%;
    margin: 0 auto;
    z-index: 10;
    opacity: 0;
    transition-delay: .5s;
    transition: opacity .5s ease;
}

.rickImgAlive {
  width: 150px;
  height: 150px;
  left: -13%;
  top: -35%;
}
.card:hover .rickImg {
  opacity: 1;
  animation-delay: 1;
  animation: 3s trans infinite;
}

@keyframes trans {
  50%{
    transform: translateX(225%);
  }
}

.card:hover .rickImgAlive {
  opacity: 1;
  animation-delay: 1;
  animation: 3s trans2 infinite;
}

@keyframes trans2 {
  50%{
    transform: translateX(120%);
  }
}

.inputSug {
  font-size: 4rem;
  background: rgba(250, 248, 248, 0.489);
  border: 4px double white;
  margin-right: .5rem;
  color: #0f0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 70px;
  width: 70%;
  border: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.658);
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 22px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 300px;
  overflow: auto;
  margin-top: 16px;
  left: 0;
  right: 7%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.react-autosuggest__suggestions-list{
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.react-autosuggest__input{
  width: 500px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #0f0;
}


.suge__list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.suge__list-item:nth-child(2) {

  width: 500px;
}
.suge__list-item:nth-child(1) {
  width: 100px
}
.suge__list-item:nth-child(3) {
  width: 200px
}

.suge__list-item span:nth-child(1) {
  color: rgb(138, 135, 135);
}
.suge__list-item span:nth-child(2) {
  color: #fff;
}


/* Medias Querys */


@media (min-width: 300px) and (max-width: 500px) {
  .inputSug {
    font-size: 2rem;
    width: 80%;
    background: rgba(250, 248, 248, 0.489);
    border: 4px double white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 1em;
  }
}